:root {
    --nav: #C7263F;
    --slide: #ED5555;
    --botoes-slide: #CC3A46;
    --link: #0377FF;
    --footer: #393939;
    --texto: #000;
    --fundo: #FFF;

    --tamanhoTexto: 1rem;
    --tamanhoTitulo: 2rem;
}

.dark-mode:root {
    --nav: #000;
    --slide: #000;
    --botoes-slide: #000;
    --link: #FFF;
    --footer: #000;
    --texto: #FFF;
    --fundo: #000;
}

.diminuiu:root {
    --tamanhoTexto: .75rem;
    --tamanhoTitulo: 1.75rem;
}

.aumentou:root {
    --tamanhoTexto: 1.25rem;
    --tamanhoTitulo: 2.25rem;
}

