:root {
    --banner: #03645B;
    --titulo: #03645B;
    --texto: #545454;
    --botao: #EB570D;
    --slide: #ED5555;
    --botoes-slide: #CC3A46;
    --link: #0377FF;
    --footer: #393939;
    --texto: #000;
    --fundo: #FFF;
    --nav: #fff;
    --hover: #EB570D;
    --options: #036459;
    --tamanhoTexto: 1rem;
    --tamanhoTitulo: 2rem;
}

.dark-mode:root {
    --banner: #000;
    --titulo: #FFF;
    --texto: #FFF;
    --botao: #000;
    --slide: #000;
    --botoes-slide: #000;
    --link: #FFF;
    --footer: #000;
    --texto: #FFF;
    --fundo: #000;
    --nav: #000;
    --hover: #fff;
    --options: #fff;

    i{
        color: #fff;
    }

    .elementor-button-link {
        border: 1px solid #fff;
        background-color: var(--botao) !important;
    }
    .botaoNinja{
        border: 1px solid #fff;
    }

    header{
        border: 1px solid #fff;
    }
    section{
        border: 1px solid #fff;
    }
}

.diminuiu:root {
    --tamanhoTexto: .75rem;
    --tamanhoTitulo: 1.75rem;
}

.aumentou:root {
    --tamanhoTexto: 1.25rem;
    --tamanhoTitulo: 2.25rem;
}

