:root {
    --banner: #03645B;
    --titulo: #03645B;
    --texto: #545454;
    --botao: #EB570D;
    --slide: #ED5555;
    --botoes-slide: #CC3A46;
    --link: #0377FF;
    --footer: #393939;
    --texto: #000;
    --fundo: #FFF;

    --tamanhoTexto: 1rem;
    --tamanhoTitulo: 2rem;
}

.dark-mode:root {
    --banner: #000;
    --titulo: #FFF;
    --texto: #FFF;
    --botao: #000;
    --slide: #000;
    --botoes-slide: #000;
    --link: #FFF;
    --footer: #000;
    --texto: #FFF;
    --fundo: #000;
}

.diminuiu:root {
    --tamanhoTexto: .75rem;
    --tamanhoTitulo: 1.75rem;
}

.aumentou:root {
    --tamanhoTexto: 1.25rem;
    --tamanhoTitulo: 2.25rem;
}

